
/* Контейнер для контента объявления */
.wr_detail {
  max-width: 800px;
  padding: 15px;
  background-color: #fff;

}

/* Стили для изображения карточки */
.img_card {
  width: 100%;
  height: auto;
  max-height: 400px; /* Ограничиваем максимальную высоту изображения */
  object-fit: cover; /* Обрезка изображения с сохранением пропорций */
  border-radius: 8px;
  margin-bottom: 20px;
}


/* Специальные стили для выделения информации */
p > span {
  font-weight: bold;
  color: #333;
}


/* Стили для слайда */
.container {
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  height: 290px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  scroll-behavior: smooth;
  border-radius: 8px;
  margin: 20px auto;
  background-color: #ffffff;
}

.container::-webkit-scrollbar {
  display: none;
}

.child {
  scroll-snap-align: start;
  width: 100%;
  height: 290px;
  flex-shrink: 0;
  display: flex;
  background-color: #f7f7f7;
  position: relative;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.img_rub {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.title_rub {
  width: 150px;
  margin-left: 20px;
  font-size: 28px;
  z-index: 1;
  color: #333;
}



