.wr_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wr_card {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 160px;
  height: 195px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.img_card {
  height: 140px;
  display: flex;

  justify-content: center;
  margin: 0 auto;
}

.title_card {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  display: block;
}

.pra_card {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  display: block;
}

.date_card {
  margin: 0;
  color: gray;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.wr_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wr_card {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


