{% extends "layout/basic.html" %}
{% load static %}

{%  block link%}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/detail.css' %}">
{% endblock %}

{% block content %}

<div class="wr_detail">

    <h1>{{ bb.title }}</h1>
    <img class="img_card" src="{% static '/main/no_photo_bb.png' %}" alt="Placeholder image">
    <p>Описание: {{ bb.content }}</p>
    <p >Цена: {{ bb.price }} {{ bb.currency }}</p>
    <p >Категория: {{ bb.rubric }}</p>
    <p>Продавец: {{ bb.contacts }}</p>
    <p>В продаже: {{ bb.is_active }}</p>
    <p>Добавлено {{  bb.published|date:"d.m.Y" }}</p>
</div>

{% endblock %}