{% extends 'layout/basic.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/CSS/index.css' %}">
{% endblock %}

{% block content %}

    <h1>Избранное</h1>

    <div class="wr_content">
    {% if user.favorites.all %}
        {% for favorite in user.favorites.all %}
            <a class="link_card" href="{% url 'detail' rubric_pk=favorite.bb.rubric.pk pk=favorite.bb.pk %}">
                <div class="card">
                    {% if favorite.bb.additional_images.exists %}
                        <img class="img_card" src="{{ favorite.bb.additional_images.first.image.url }}" alt="First additional image">
                    {% else %}
                        <img class="img_card" src="{% static 'main/no_photo_bb.png' %}" alt="Placeholder image">
                    {% endif %}
                    <div>
                        <p class="title_card">{{ favorite.bb.title }}</p>
                        <p class="content_card">{{ favorite.bb.content }}</p>
                        <p class="pra_card">{{ favorite.bb.price }} {{ favorite.bb.currency }}</p>
                        <p class="date_card">{{ favorite.bb.city }} {{ favorite.bb.published|date:"d.m.Y" }}</p>
                        <div>

                            <a href="{% url 'toggle_favorite' bb_pk=favorite.bb.pk %}">
                                <div class="wr_swg">

                                    <svg width="24" height="24" fill="red" xmlns="http://www.w3.org/2000/svg">#}
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                    </svg>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>Нет избранных объявлений</p>
    {% endif %}
    </div>
{% endblock %}
