{% extends 'layout/basic.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/CSS/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/CSS/slide_rubric.css' %}">
{% endblock %}

{% block content %}

<div class="wr_container">
    <div class="container">
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.id %}">
                <section class="child">
                    <div class="title_rub">{{ rubric.name }}</div>
                    <img class="img_rub" src="{% static 'main/img_cat/cat_' %}{{ rubric.order }}.png">
                </section>
            </a>
        {% endfor %}
    </div>
</div>


<div class="wr_content">
    <div id="bb-container" class="wr_card">
        {% include "main/bb_list_ajax.html" with page_obj=page_obj %}
    </div>
</div>

{% if page_obj.has_next %}
    <div id="load-more" data-next-page="{{ page_obj.next_page_number }}">
        <div id="loading" style="display: none;">Загрузка...</div>
    </div>
{% endif %}

<script>
    let isLoading = false;

const loadMoreData = () => {
    const loadMoreElement = document.getElementById('load-more');
    if (!loadMoreElement) return;  // Прекращаем выполнение, если элемента нет

    const nextPage = loadMoreElement.getAttribute('data-next-page');
    if (nextPage && !isLoading) {
        isLoading = true;

        const loadingElement = document.getElementById('loading');
        if (loadingElement) {
            loadingElement.style.display = 'block';
        }

        fetch(`?page=${nextPage}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.text())
        .then(data => {
            const bbContainer = document.getElementById('bb-container');
            bbContainer.innerHTML += data;
            const nextPageNumber = parseInt(nextPage) + 1;

            if (nextPageNumber > {{ page_obj.paginator.num_pages }}) {
                loadMoreElement.remove();
            } else {
                loadMoreElement.setAttribute('data-next-page', nextPageNumber);
            }

            isLoading = false;

            if (loadingElement) {
                loadingElement.style.display = 'none';
            }
        });
    }
};

window.addEventListener('scroll', () => {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        loadMoreData();
    }
});

    
</script>

{% endblock %}
